<!DOCTYPE html>
<html>

<body>
  @using Tamagotchi.Models;
  
    <h1>@Model.Name</h1>

      <p>Happiness: @Model.Happiness</p>
      <br>
      <p>Hunger: @Model.Hunger</p>
      <br>
      <p>Energy: @Model.Energy</p>
    
    <a href="/pets/">Home Page</a>
  </div>
</body>

</html>