<!DOCTYPE html>
<html>

<body>
    @using Tamagotchi.Models;

    <h1>@Model.Name</h1>

    <p>Happiness: @Model.Happiness</p>
    <form id="attentionForm" action="/pets/@Model.Id" method="post">
        <input type="hidden" name="action" value="attention" />
        <button type="button" onclick="submitForm('attentionForm')">Attention</button>
    </form>

    <p>Hunger: @Model.Hunger</p>
    <form id="feedForm" action="/pets/@Model.Id" method="post">
        <input type="hidden" name="action" value="feed" />
        <button type="button" onclick="submitForm('feedForm')">Feed</button>
    </form>

    <p>Energy: @Model.Energy</p>
    <form id="restForm" action="/pets/@Model.Id" method="post">
        <input type="hidden" name="action" value="rest" />
        <button type="button" onclick="submitForm('restForm')">Rest</button>
    </form>

    <a href="/pets/">Home Page</a>

    <script>
        function submitForm(formId) {
            document.getElementById(formId).submit();
        }
    </script>
</body>

</html>