<!DOCTYPE html>
<html>

<body>
  <form action="/pets" method="post">
    <h3 id="formTitle">New Tamagotchi</h3>
      <label for="name">Name</label>
      <input id="name" name="name" type="text">
      <br>
      <label for="color">Color</label>
      <input id="color" name="color" type="color">
      <br>
    <button id="formButton" type="submit">Submit</button>
  </form>
  
</body>

</html>